.App {
  text-align: center;
}

.todoContainer {
  max-width: 600px!important;
  background-color: #0f3a54;
  display: flex;
  padding: 0!important;
}

.left-sidebar{
  padding: 20px;
  width: 40%;
  box-shadow: 3px 0px 3px rgb(255,255,255);
}

.left-sidebar-contents {
  display: flex;
  flex-direction: column;
}

.left-sidebar-contents > button {
  margin-bottom: 15px;
}

.right-sidebar {
  width: 60%;
  padding: 20px;
}

.right-sidebar-contents {
  display: flex;
  flex-direction: column;
}

.task-input {
  display: flex;
  width: 66%;
  margin: 10px auto;
  justify-content: space-between;
}

.task-input > input {
  padding: 2px;
  font-size: 15px;
}

.task-lists {
  width: 100%;
}

.taskDiv {
  background-color: white;
  margin-bottom: 8px;
}